@media (max-width: 600px) {
.block-left-menu {
    display: none;
}
.btn-rounded-rectangle-header {
    display: none;
}
.btn-folder-header {
    display: none;
}
.btn-settngs-header {
    display: none;
}
.btn-header {
    display: none;
}
.image-ellipse-header {
    display: none;
}
.container-chart {

}
.block-price {
    display: none;
}
.block-chart {
    display: none;
}
.block-right-sidebar {
    display: none;
}
.container {
    background-color: #E3E3E3;
    height: auto;
}
.container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 99%;
    height: auto;
    margin: 0 auto;
}
/* block-input */
.block-input-mobile {
    display: block;
    display: flex;
    width: 100%;
    height: auto;
    background-color: #F4F4F4;
    border: 1px solid rgba(200, 200, 200, 255);
    border-radius: 10px;
}
.input-header {
    font-size: 3.5vw;
}

/* Header-block */
.block-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFAF0;
    margin-top: 1%;
}
.menu-icon {
    display: block;
}
.menu-icon-sidebar {
    width: 15vw;
    height: 15vw;
    background-color: transparent;
    border: none;
    margin: 0;
}
.block-input-header {
display: none;
}
.avatar-header {
    width: 15%;
    height: auto;
}
.foto-name-header {
    font-size: 100%;
}
.span-profession-header {
    font-size: 90%;
}
.menu-gamburger {
    display: block;
    position: relative;
    width: 30px;
    height: 4px;
    background-color: rgba(220, 227, 228, 255);
}
.menu-gamburger::before {
    position: absolute;
    left: 0;
    top:-10px;
    content: '';
    display: block;
    width: 30px;
    height: 4px;
    background-color: rgba(220, 227, 228, 255);
}

.menu-gamburger::after {
    position: absolute;
    left: 0;
    top:10px;
    content: '';
    display: block;
    width: 30px;
    height: 4px;
    background-color: rgba(220, 227, 228, 255);
}
.menu-icon-sidebar:hover {
    background-color: #EDEDED;
}
.menu-gamburger:active{
    border: 2px solid blue;
}
.menu-gamburger:hover {
    cursor: s-resize;
}
/* Block-Revenue */
.container-graphics {
    width: 100%;
}
.container-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}
.block-revenue-chart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165%;
    margin: 1% 0 0 0;
    padding-bottom: 5%;
}
.header-revenue-chart {
    font-size: 6vw;
    margin: 5% 0 5% 0;
}
/* Block-Costumers */
.container-customers {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1%;
}
.block-customers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
    margin: 0;
    padding-bottom: 2%;
}
.header-block-customers {
    font-size: 5vw;
    text-align: left;
    margin:5% 0 5% 0;
}
.block-text-customers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74.5%;
    font-size: 4vw;
    background-color: #fcfcfc;
    border: 1px solid #f1f1f1;
    margin-left: 4.8%;
}
.block-sophie-double {
    font-size: 4vw;
}
.text-double {
    font-size: 4vw;
}
/* Block-Todays-Task */
.container-task {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1% 0 0 0;
}
.block-todays {
    width: 100%;
    font-size: 100%;
    padding-bottom: 15%;
}
.header-todays {
    font-size: 5vw;
    text-align: center;
    margin: 6% 0 0 6%;
}
.block-checkbox {
    width: 90%;
    height: 35vw;
    margin:6% 0 0 6%;
}
.span-input {
    font-size: 3.5vw;
}
.text-checkbox {
    font-size: 3vw;
}
.clock-block-checkbox {
    font-size: 2.5vw;
}
/* container-statistic */
.container-statistic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1%;
}

.block-progress {
    width: 100%;
    padding-bottom: 3%;
}
.header-block-progress {
    font-size: 5.5vw;
    margin: 5% 0 5% 0;
}
.price-block-progress {
    font-size: 5vw;
}
/* Block-Map*/
.block-shipments {
    width: 100%;
    padding-bottom: 2%;
    margin-top: 1%;
}
.header-block-shipments {
    font-size: 5.5vw;
    margin: 5% 0 5% 0;
}
.price-block-shipments {
    justify-content: space-around;
    font-size: 5vw;
    margin: 10% 0 9% 0;
}
/* Footer-social */
.footer-social-mobile {
    display: block;
    width: 100%
    background-color: #ffffff;
    margin: 1% 0 1% 0;
}
.header-block-social {
    font-size: 5vw;
    text-align: center;
    margin: 2% 0 0 0;
}
.paragraph-image-social {
    display: flex;
    width: 50%;
}
.img-btn-footer {
    width: 10vw;
    height: 10vw;
}
