.containing-block {
    width: auto;
}
/*контейнер 1 фиксированный  блок-заголовок*/
.container-header-menu {
    position: fixed;
    width: 1400px;
    height: 72px;
    background-color: black;
    z-index: 5000;
}

.logo-axit {
    width: 79px;
    height: 27px;
    margin-left: 150px;
    margin-top: 22px;
}
button {
   cursor: pointer;
}
.button-features {
    margin-left: 582px;
    background-color: transparent;
    border: 0 solid rgba(255, 255, 255, 255);
    font-family: ﻿'OpenSans-Semibold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular';
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
}

.button-about {
    margin-left: 34px;
    background-color: transparent;
    border: 0 solid rgba(255, 255, 255, 255);
    font-family: ﻿'OpenSans-Semibold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular';
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
}

.button-pricing {
    margin-left: 36px;
    background-color: transparent;
    border: 0 solid rgba(255, 255, 255, 255);
    font-family: ﻿'OpenSans-Semibold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular';
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
}

.button-reviews {
    margin-left: 37px;
    background-color: transparent;
    border: 0 solid rgba(255, 255, 255, 255);
    font-family: ﻿'OpenSans-Semibold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular';
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
}

.button-contact {
    margin-left: 36px;
    background-color: transparent;
    border: 0 solid rgba(255, 255, 255, 255);
    font-family: ﻿'OpenSans-Semibold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular';
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
}
/*контейнер 2*/
.container-list-axit {
    width: 1400px;
    height: 641px;
    background-color: black;
    background-image: url("image/image@1X.png");
}

.image-axit {
    width: 175px;
    height: 60px;
    margin-left: 150px;
    margin-top: 110px;
}

.text-axit {
    font-family: Raleway Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 36px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    margin: 33px 0 33px 150px;
}

.text-axit2 {
    font-family: Raleway Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    margin-top: 30px;
    margin-left: 150px;
}

.btn-list-axit {
    font-family: ﻿OpenSans-Semibold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 15px;
    color: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 255);
    background-color: transparent;
    width: 135px;
    height: 42px;
    margin-top: 30px;
    margin-left: 150px;
}

.btn-list-axit:hover {
    color: blue;
}

.window-axit {
    position:absolute ;
    width: 360px;
    height: 310px;
    right: 150px;
    top:140px;

}

.header-window {
    width: 360px;
    height: 21px;
    background-color: #f5f5f5;
    font-family: ﻿OpenSans-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 20px;
    color: rgba(51, 51, 51, 255);
    text-align: center;
    padding-top: 18px;
    padding-bottom: 15px;
}

.free {
    color: #ff8b38;
}

.window-data {
    position: absolute;
    width: 360px;
    height: 300px;
    background-color: #ffffff;
    font-family: ﻿OpenSans, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 14px;
    color: rgba(189, 189, 189, 255);
    margin-top: 0 auto;
}
input {
     outline: none;
}
input[type="text"] {
   border: 0 solid #cccccc;
   background: #ffffff;
   height: 24px;
   width: 200px;
   color: #cccccc;
   font-size: 20px;
}

.text-window {
    font-family: ﻿'OpenSans, ﻿AdobeInvisFont, ﻿MyriadPro-Regular';
    font-size: 14px;
    color: rgba(189, 189, 189, 255);
    text-align: left;
    margin-left: 59px;
    margin-top: 33px;
    margin-bottom: 0 auto;

}

.btn-window {
    width: 360px;
    height: 54px;
    font-family: '﻿OpenSans-Semibold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular';
    font-size: 15px;
    color: rgba(255, 255, 255, 255);
    background-color: #ff9b51;
    border: 0;
    margin-top: 49px;
}
.btn-window:hover {
    color: blue;
}

/*контейнер 3*/
.block-social-media {
    display: inline-block;
    width: 1250px;
    height: 105px;
    background: #ffffff;
    font-family: 'Open Sans';
    font-size: 20px;
    padding-top: 22px;
    padding-left: 150px;
}
.text-social-media {
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 14px;
    color: rgba(134, 135, 139, 255);
    margin-top: 10px;
}

.block-icons-media {
    display: inline-block;
    width: 634px;
    height: 46px;
    margin-left:87px;
    margin-bottom: 30px;
}

/*контейнер 4*/
.block-tabs {
    width: 1400px;
    height: 595px;
    background-color: #f5f5f5;
}

.btns {
    display: inline-block;
    width: 115px;
    height: 339px;
    margin-left: 140px;
    margin-top: 145px;
}

.btn-tab1 {
    display:inline-block;
    width: 112px;
    height: 112px;
    font-family: 'Open Sans';
    font-size: 15px;
    color: rgba(255, 255, 255, 255);
    background-color: #ff9b51;
    border: 0;
    margin: 0.5px;
}

.btn-tab2 {
    display:inline;
    width: 112px;
    height: 112px;
    font-family: 'Open Sans';
    font-size: 15px;
    color: rgba(255, 255, 255, 255);
    background-color: #333333;
    border: 0;
    margin: 0.5px;
}

.btn-tab3 {
    display:inline;
    width: 112px;
    height: 112px;
    font-family: 'Open Sans';
    font-size: 15px;
    color: rgba(255, 255, 255, 255);
    background-color: #333333;
    border: 0;
    margin: 0.5px;
}

.btn-tab1:hover {
    color: blue;
}
.btn-tab2:hover {
    color: blue;
}
.btn-tab3:hover {
    color: blue;
}

.block-text-tabs {
    display: inline-block;
    position: sticky;
    top:1000px;
    width: 480px;
    height: 339px;
    margin-left: 150px;
    margin-bottom: 150px;
}

.span-header{
    display: inline-block;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
    color: rgba(0, 0, 0, 255);
    margin-bottom: 52px;


}
.text-tabs {
    font-family: 'Open Sans';
    font-size: 14px;
    color: rgba(134, 135, 139, 255);
    margin: 0 auto;
}

.btn-text-tab {
    width: 121px;
    height: 46px;
    font-family: '﻿OpenSans-Semibold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular';
    font-size: 15px;
    color: rgba(255, 255, 255, 255);
    background-color: #ff8b38;
    border: 0;
    margin-top: 51px;
}

.btn-text-tab:hover {
    color: blue;
}

.img-city {
    display: inline-block;
    margin-left: 100px;
    margin-bottom: 10px;
}

/*контейнер 5*/
.block-awesome {
    width: 1400px;
    font-family: Raleway Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 36px;
    color: rgba(33, 33, 33, 255);
    text-align: center;
    margin-top: 108px;
}

.text-block-columns{
    color: rgba(134, 135, 139, 255);
    font-family: ﻿'OpenSans, ﻿AdobeInvisFont, ﻿MyriadPro-Regular';
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
}

.block-columns{
    width: 1400px;
    height: 320px;
    margin-top: 80px;
    margin-bottom: 0px;
}

.block-column1 {
    display:inline-block;
    width: 302px;
    height: 327px;
    margin-left: 220px;
    text-align: center;
}
.header-text-column {
    font-family: '﻿FankRuehl';
    font-size: 20px;
    color: rgba(51, 51, 51, 255);
    text-align: center;
    margin-top: 29px;
}

.logo-lamp {
    margin: 21px 26px 21px 25px;
}

.block-column2 {
    display:inline-block;
    width: 302px;
    height: 327px;
    margin-left: 32px;
    text-align: center;
}

.logo-keyboard {
    margin: 24px 18px 25px 17px;
}

.block-column3 {
    display:inline-block;
    width: 302px;
    height: 327px;
    margin-left: 32px;
    text-align: center;
}

.logo-lightning {
    margin: 19px 27px 20px 26px;
}


.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid 1px #ff8c2c;
    margin: auto;
}

/*контейнер 6*/
.block-price {
    width: 1400px;
    height: 883px;
    background-color: #f5f5f5;
}

.block-headers {
    font-family: Raleway Light;
    font-size: 36px;
    color: rgba(33, 33, 33, 255);
    text-align: center;
    padding-top: 108px;
}

.block-basic {
    display: inline-block;
    width: 343px;
    height: 442px;
    margin-top: 115px;
    margin-left: 146px;
}

.block-professional {
    display: inline-block;
    width: 343px;
    height: 497px;
    align: center;
    margin-left: 40px;
}

.block-enterprise {
    display: inline-block;
    width: 343px;
    height: 442px;
    margin-left: 40px;
}

.text-line-header {
    width: 343px;
    height: 38px;
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    background-color: #333333;
    border-bottom: 1px solid #f5f5f5;
    padding-top: 21px;
    margin: 0 auto;
}
.text-line-number{
    width: 343px;
    height: 70px;
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 35px;
    color: rgba(255, 255, 255, 255);
    background-color: #333333;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 0;
    padding-top: 30px;
}
.text-line-free {
    width: 343px;
    height: 34px;
    font-family: ﻿﻿OpenSans-Semibold;
    font-size: 14px;
    color: #adadad;
    background-color: #333333;
    border-bottom: 5px solid #ff8b38;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 0;
    padding-top: 17px;
}

.text-line4-9 {
    width: 343px;
    height: 25px;
    font-family: ﻿OpenSans-Semibold;
    font-size: 14px;
    color: rgba(134, 135, 139, 255);
    background-color: #ffffff;
    text-align:center;
    margin-top:2px;
    margin-bottom: 0;
    padding-top: 14px;
}

.text-line-payment {
    width: 343px;
    height: 34px;
    font-family: ﻿﻿OpenSans-Semibold;
    font-size: 14px;
    color: #adadad;
    background-color: #333333;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 0;
    padding-top: 17px;
}

.text-line-popular {
    width: 343px;
    height: 27px;
    font-family: ﻿OpenSans-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    background-color: #ff8b38;
    text-align: center;
    margin: 0 auto;
    padding-top: 13px;
}

/*контейнер 7*/
.container-costumers {
    width: 1400px;
    height: 591px;
}

.block-jeremy {
    position: relative;
    display: inline-block;
    width: 273px;
    height: 225px;
    margin-left: 170px;
}

.block-john {
    position: relative;
    display: inline-block;
    width: 273px;
    height: 225px;
    margin-left: 120px;
}

.block-susan {
    position: relative;
    display: inline-block;
    width: 273px;
    height: 225px;
    margin-left: 120px;
    margin-top: 41px;
}

.text-dialogue {
    position: relative;
    bottom: 120px;
    left: 20px;
    font-family: ﻿OpenSans, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 14px;
    color: rgba(134, 135, 139, 255);

}

.img-foto-span{
    display: inline-block;
    position: absolute;
    top:155px;
    left: 0;
}

.text-name {
    position: absolute;
    left: 80px;
    bottom: 0;
    font-family: ﻿OpenSans-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 20px;
    color: rgba(51, 51, 51, 255);
    text-align: left;
}
.text-profession {
    font-family: ﻿OpenSans, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 14px;
    color: rgba(134, 135, 139, 255);
    text-align: left;
}

/*контейнер 8*/
.container-background {
    width: 1400px;
    height: 325px;
    border: 0 solid white;
    background-color: #000000;
    background-image: url("image/fon.png");
    margin-top: 0px;
}

.header-container-background {
    font-family: Raleway Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 36px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding-top: 70px;
    margin:auto;
}

.text-container-background {
    font-family: Raleway Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin-top:23px;
}

.btn-background {
    text-align:center;
    color: rgba(255, 255, 255, 255);
    margin: auto;
}

.button-container-background {
    display: inline-block;
    width: 135px;
    height: 42px;
    color: #FFFFFF;
    font-family: ﻿OpenSans-Semibold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 15px;
    border: 2px solid rgba(255, 255, 255, 255);
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    margin-top:20px;
}

.button-container-background:hover {
    color: blue;
}

/*контейнер 9*/
.container-contact {
    width: 1400px;
    height: 612px
}

.header-container-contact {
    font-family: Raleway Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 36px;
    color: rgba(33, 33, 33, 255);
    text-align: center;
    margin-top: 108px;
}

.data-contact {
    display: inline-block;
    width: 527px;
    height: 153px;
    margin-left: 140px;
    margin-top: 80px;
}

.text-data-contact {
    font-family: ﻿OpenSans, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 14px;
    color: rgba(189, 189, 189, 255);
    margin-top:11px;
    margin-left: 13px;
    margin-bottom: 9px;
}

.block-window-message {
    position: relative;
    bottom: 8px;
    display: inline-block;
    width: 527px;
    height: 142px;
    margin-left: 67px;
}

.text-block-message {
    font-family: ﻿OpenSans, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 14px;
    color: rgba(189, 189, 189, 255);
    text-align: left;
    margin-top: 11px;
    margin-left: 13px;
    margin-bottom: 40px;
}
.input-message {
    width: 520px;
    height: 30px;
    background: #ffffff;
    height: 240px;
    width: 200px;
    color: #cccccc;
    font-size: 20px;
    margin-top: 25px;
}

.btn-message {
    width: 148px;
    height:46px;
    margin-top:45px;
    margin-left: 626px;
}

.message-button {
    width: 148px;
    height: 46px;
    background-color: #ff9b51;
    border: 0;
    font-family: ﻿OpenSans-Semibold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 15px;
    color: rgba(255, 255, 255, 255);
    text-align:center;
}
.message-button:hover {
    color: blue;
}

/*контейнер 10*/
.container-footer {
    margin: 0px;
    width: 1400px;
    height:100px;
    border: 1px solid black;
    background-image: url("image/fonblack.png");}

.icons-footer {
    width: 317px;
    height: 23px;
    margin:38px auto auto;
}

.copyright {
    color:rgba(255, 255, 255, 255);
    text-align: center;
    font-size: 12px;
    font-family: ﻿OpenSans, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    margin-top:15px;
}

/* Кнопка-звонок*/
.btn-callback {
        position: fixed;
        height:65px;
        width:65px;
        background:#38a3fd;
        background-image: url('image/phone.png');
        border:3px solid #38a3fd;
        border-radius:50%;
        cursor:pointer;
        text-align:center;
        right: 2%;
        bottom: 2%;
        z-index:999;
}
.btn-callback:hover {
    background-image:url("image/phone1");
}
